.progress_bar__container {
    height: 1.75em;
    display: flex;
}

.progress_bar__cell {
    flex-grow: 1;

    text-align: center;
    color: rgba(0, 0, 0, 0);

    background: rgba(0, 0, 0, .1);
    border-right: 1px solid white;
    border-radius: 0.29rem;

    cursor: pointer;
}

.progress_bar__cell__wrong {
    background: #db2828;
}


.progress_bar__cell__correct {
    background: #21ba45;
}
