/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-float infinite 3s ease-in-out;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*}*/

/*.App-link {*/
/*  color: rgb(112, 76, 182);*/
/*}*/

/*@keyframes App-logo-float {*/
/*  0% {*/
/*    transform: translateY(0);*/
/*  }*/
/*  50% {*/
/*    transform: translateY(10px);*/
/*  }*/
/*  100% {*/
/*    transform: translateY(0px);*/
/*  }*/
/*}*/

.question__answer-button {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.question__answer-button > h1 {
    margin: 0.67em;
}

.question__answer-button:hover {
    background: #eee;
}

.question__answer-button__correct {
    background: green;
}

.question__answer-button__correct:hover {
    background: darkgreen;
}

.question__answer-button__wrong {
    background: red;
}

.question__answer-button__wrong:hover {
    background: darkred;
}
